/*style sheet for resume*/
.linespace {
    margin-top: 0;
    margin-bottom: 0;
}
h3{
    margin-top: 2.75%;
    margin-bottom: 0;
}

.linespace1 {
    margin-top: 2%;
    margin-bottom: 0;
}

h1 {
    margin-bottom: 0%;
    text-align: center;
}

.slay {
    color:gray;
    margin-top: 0%;
    margin-bottom:0%;
    font-weight:lighter;
}

